.red-text {
    color: red;
}

h1 {
    margin: 1%;
    padding: 5%;
}

p {
    color: blue;
}

div.first {
    background-color: coral;
}

div.second {
    background-color: lightblue;
}

#second-paragraph {
    font-weight: bold;
}

a.chess-link {
    color:black;
}

a.chess-link:hover {
    color:blueviolet;
}